html, body, .off-canvas-wrap, .inner-wrap, .main-section {
    height: 100%;
}
aside {
    transition: transform 500ms ease 0s;
}
.offcanvas-overlap aside {
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    z-index: 1003;
}
.offcanvas-overlap .exit-off-canvas{
    -ms-transition: #000 300ms ease 0s;
    -webkit-transition: #000 300ms ease 0s;
    -moz-transition: #000 300ms ease 0s;
    -o-transition: #000 300ms ease 0s;
    transition: #000 300ms ease 0s;
    cursor: pointer;
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.5), 4px 0px 4px rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.2);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1002;
}
h1, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}